<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
  
    -for(let i=95;i > 40;i++)
      img(src="img/IMG-20200616-WA0095.jpg", alt="")
    