$bcg-color: #000;
$color-letter:#fff;
@mixin gridProductos($rows) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat($rows, auto);
    grid-gap: 30px;
    align-content: center;
    justify-items: center;
    margin-bottom: 100px;
    @media screen and (max-width:450px){
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr);

    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
%b{border: 2px solid red;}
%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;
    background-color: $bcg-color;
    color: $color-letter;
}
.header {
    width: 100%;
    height: 85vh;
    background-image: url(../img/samuel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // filter: brightness(.8);
    @extend %flex;
    .contentLogo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0,.8);
        &-logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width:64em){            
            width: 200px;
            height: 200px;   
        }
        @media screen and (max-width:764px){            
            width: 150px;
            height: 150px; 
        }
        @media screen and (max-width:450px){            
            width: 80px;
            height: 80px; 
            // position: absolute;
            // bottom: 0;
            // transform: translateY(50%);
            
        }
    }
    @media screen and (max-width:64em){            
        height: 50vh;
    }
    @media screen and (max-width:764px){            
        height: 40vh;
    }
    @media screen and (max-width:450px){            
        height: 24vh;
        margin-bottom: 50px;
    }
}

.contentTitle {
    width: 100%;
    height: 200px;
    font-size: 2.2em;
    @extend %flex;
    text-align: center;
    @media screen and (max-width:450px){            
        font-size: 1.5em;
        
    }
}

.galery {
    margin: auto;
    width: 65%;
    &-motos {
        @include gridProductos(9);    }
    &-telefonos {
        @include gridProductos(2);  
    }
    &-lineaBlanca {
        @include gridProductos(10);  
    }
  
    
    &-img {
        width:100%;
        object-fit: cover;
    }
    @media screen and (max-width:64em){            
        width: 90%;
    }
    @media screen and (max-width:450px){            
        width: 80%;
    }
    // @media screen and (max-width:450px){            
    //     width: 100%;
    // }
}

@mixin botonContact($positionButton,$positionLeft,$bcgColor){
    bottom: $positionButton;
    right: $positionLeft;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    &-link {
        // display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bcgColor;
    }
    &-img {
        width: 65%;
    }
}


.botonInstagram {
    @include botonContact(100px,25px ,#d773ffc7);
}
.botonWhatsApp {
    @include botonContact(25px,25px ,#41e700);
}

.footer {
    // background-color: #48ff00;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    &-tienda,&-dev{
        // @extend %b;
        height: 100%;
       
    }
    &-tienda,&-dev {
        width: 40%; 
        display: flex;
        align-items: center;
    }
    &-tienda {
        justify-content: flex-start;
    }
    &-dev {
        justify-content: flex-end;
        a {
            color: #a1e9ff;
        }
    }
    @media screen and (max-width: 450px){
        display: block;
        &-tienda,&-dev{
            width: 100%; 
            justify-content: center;
            text-align: center;
        }
    }
}

// @media screen and (max-width:64em){
//     .galery {

//     }
// }
